<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head> </head>
	<body>
		<div class="banner" th:fragment="banner">
			<h1 th:onclick="'window.location.href=\'/pizza/list' + '\''">Spring Pizza 🍕</h1>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/logout}">
					<button>Logout <span sec:authentication="name"></span></button>
				</a>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<a th:href="@{/login}">
					<input type="button" value="Login" />
				</a>
			</div>
		</div>
	</body>
</html>
