:root {
    --bg: hsl(180, 100%, 25%);
    --primary: hsl(180, 70%, 70%);
    --secondary: hsl(20, 100%, 64%);
    --text: hsl(167, 39%, 93%);

}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
}

input,
select {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

input:focus,
select:focus {
    outline: none !important;
    box-shadow: 0 0 10px var(--text);
}

option:checked {
    color: black;
    background-color: var(--primary);
}

table,
th,
td {
    border: 1px solid;
}

td {
    padding: 0.5rem;
    text-align: center;
}

th {
    font-size: 1.5rem;
}

.roles-td {
    display: grid;
    place-content: center;
    text-align: left;
}

.container-main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.banner>h1 {
    cursor: pointer;
    font-size: 3rem;
}

.banner-links {
    display: flex;
    gap: 0.5em;
}

.btn,
.btn-primary,
.btn-secondary,
.btn-disabled {
    display: block;
    color: var(--text);
    padding: 0.5em;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 1.5rem;
    border: 1px solid;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: black;
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-disabled {
    background-color: grey;
    pointer-events: none;
    cursor: default;
}

.profile {
    text-transform: capitalize;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 1.5em;
}

.admin-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.sort-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.sort-container>div {
    display: flex;
    flex-direction: column;
}

.sort-container select {
    max-width: 300px;
}

form {
    display: grid;
    place-content: center;
}

.error-ul {
    list-style-type: disclosure-open;
    margin: 8px 0;
}

.error-li {
    text-shadow: 2px 2px 4px black;
    color: hsl(340, 80%, 50%);
}

.error-li::first-letter {
    text-transform: capitalize;
}

.pizza-list,
.user-list,
.order-list {
    border: 1px solid;
}

.pizza-box,
.user-box,
.order-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

    padding: 1em;
    transition: 0.3s;
}

.pizza-box:hover,
.user-box:hover,
.order-box:hover {
    background-color: hsl(180, 100%, 30%);
}

.actions {
    display: flex;
    gap: 10px;
}

.pizza-link,
.user-link {
    font-size: 2rem;
    cursor: pointer;
}

.user-roles {
    display: flex;
    flex-direction: column;
}

.user-roles>.user-link {
    font-size: 1em;
    margin-left: 1em;
}

.order-details {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.confirm-order {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: grid;
    place-content: center;
    gap: 4px;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.checkbox-pizza {
    aspect-ratio: 1/1;
    width: 3rem;
    accent-color: var(--secondary);
}

.user-details {
    display: flex;
    flex-direction: column;
}

.font-big {
    font-size: 2rem;
}