.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 80px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}