<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/header.html :: common_header(title=~{::title})}">
		<title>Pizza List</title>
	</head>

	<body>
		<div th:replace="~{fragments/banner.html :: banner}"></div>
		<div th:each="pizza : ${pizzaList}">
			<div th:text="${pizza.name}" th:onclick="'window.location.href=\'/pizza/' + ${pizza.getId()} + '\''"></div>
			<a th:href="@{/pizza/delete/{id}(id=${pizza.getId()})}">
				<input type="button" value="Delete" />
			</a>
		</div>
	</body>
</html>
