<!DOCTYPE html>
<html lang="en">
	<head th:replace="~{fragments/header.html :: common_header(title=~{::title},scripts=~{::script})}">
		<title>Pizza Details</title>
	</head>
	<body>
		<div class="container-main">
			<div th:replace="~{fragments/banner.html :: banner}"></div>
			<div>
				ID: <span th:text="${pizza.id}"></span><br />
				Name: <span th:text="${pizza.name}"></span><br />
				Price: <span th:text="${pizza.price}"></span>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<a class="btn-primary" th:href="@{/pizza/edit/{id}(id=${pizza.getId()})}"> Edit </a>
			</div>
		</div>
	</body>
</html>
