<!DOCTYPE html>
<html lang="en">
	<head th:replace="~{fragments/header.html :: common_header(title=~{::title},scripts=~{::script})}">
		<title>Pizza Details</title>
		<script type="text/javascript" th:src="@{/js/actions.js}" defer></script>
	</head>
	<body>
		<div th:replace="~{fragments/banner.html :: banner}"></div>
		<div class="container-main">
			<div>
				ID: <span th:text="${pizza.id}"></span><br />
				Name: <span th:text="${pizza.name}"></span>
			</div>
			<button th:onclick="hello()">Hello There</button>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="@{/pizza/edit/{id}(id=${pizza.getId()})}">
					<input type="button" value="Edit" />
				</a>
			</div>
		</div>
	</body>
</html>
