<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/header.html :: common_header(title=~{::title},links=~{::link},scripts=~{::script})}">
		<title>Pizza List</title>
		<script type="text/javascript" th:src="@{/js/actions.js}" defer></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
	</head>

	<body>
		<div class="container-main">
			<div th:replace="~{fragments/banner.html :: banner}"></div>
			<div class="sort-container">
				<div>
					<label for="sort">Sort by price</label>
					<select name="sort" id="sort">
						<option value="ASC" th:selected="${sort == 'ASC'}">Ascending</option>
						<option value="DESC" th:selected="${sort == 'DESC'}">Descending</option>
					</select>
				</div>
			</div>
			<div class="pizza-list">
				<div class="pizza-box" th:each="pizza : ${pizzaList}">
					<div th:onclick="'window.location.href=\'/pizza/' + ${pizza.getId()} + '\''">
						<span class="pizza-link" th:text="${pizza.name}"></span>
						<span class="pizza-link" th:text="${pizza.price}"></span>
					</div>

					<div class="actions" sec:authorize="isAuthenticated()">
						<input type="checkbox" th:id="'checkbox-' + ${pizza.id}" class="checkbox-pizza" th:attr="data-pizzaid=${pizza.id},data-pizzaprice=${pizza.price}" />
						<a class="btn-primary" th:if="${user?.favourites?.pizzas?.?[id == __${pizza.id}__]?.isEmpty()}" th:href="${'/favourites/' + {user?.favourites?.id} + '/pizza-add/' + {pizza.id}}">
							<span class="material-symbols-outlined"> heart_plus </span>
						</a>
						<a class="btn-secondary" th:unless="${user?.favourites?.pizzas?.?[id == __${pizza.id}__]?.isEmpty()}" th:if="${user?.favourites != null}" th:href="${'/favourites/' + {user?.favourites?.id} + '/pizza-remove/' + {pizza.id}}">
							<span class="material-symbols-outlined"> heart_broken </span>
						</a>
						<a th:if="${user?.favourites == null}" href="#" class="btn-disabled">
							<span class="material-symbols-outlined"> heart_plus </span>
						</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn-secondary" th:href="@{/pizza/delete/{id}(id=${pizza.getId()})}"> Delete </a>
					</div>
				</div>
			</div>
			<div class="" sec:authorize="isAuthenticated()">
				<a id="order" class="btn-primary" style="margin-top: 8px" th:attr="data-username=${user.userName},data-userid=${user.id}"> Order </a>
			</div>
		</div>
	</body>
</html>
