<!DOCTYPE html>
<html lang="en">
	<head th:replace="~{fragments/header.html :: common_header(title=~{::title},scripts=~{::script})}">
		<title>User Details</title>
	</head>
	<body>
		<div class="container-main">
			<div th:replace="~{fragments/banner.html :: banner}"></div>
			<div class="user-details">
				<table style="width: 100%">
					<tr>
						<th>ID</th>
						<th>UserName</th>
						<th>Roles</th>
					</tr>
					<tr>
						<td th:text="${user.id}"></td>
						<td th:text="${user.userName}"></td>
						<td class="roles-td">
							<span th:each="role : ${user.roles}" th:text="${role}"></span>
						</td>
					</tr>
				</table>
				<h2>Favourites:</h2>
				<table style="width: 100%">
					<tr>
						<th>Pizza</th>
						<th>Price</th>
						<th>Number of orders</th>
					</tr>
					<tr th:each="pizza : ${user?.favourites?.pizzas}">
						<td th:text="${pizza.name}"></td>
						<td th:text="${pizza.price}"></td>
						<td th:text="${occurrences.get(pizza.id)}"></td>
					</tr>
				</table>
				<h2>Orders:</h2>
				<table style="width: 100%">
					<tr>
						<th>ID</th>
						<th>Total</th>
					</tr>
					<tr th:each="order : ${user?.orders}">
						<td th:text="${order.id}" class="order-td" th:onclick="'window.location.href=\'/order/' + ${order.id} + '\''"></td>
						<td th:text="${order.total}"></td>
					</tr>
				</table>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')" class="btn-sec">
				<a class="btn-primary" th:href="@{/user/edit/{id}(id=${user.getId()})}"> Edit </a>
			</div>

			<a class="btn-primary btn-sec" th:if="${user.favourites == null}" th:href="@{/favourites/{id}/add(id=${user.getId()})}"> Enable fav </a>
			<a class="btn-secondary btn-sec" th:unless="${user.favourites == null}" th:href="${'/favourites/' + {user.id} + '/delete/' + {user?.favourites?.id}}"> Disable fav </a>
		</div>
	</body>
</html>
